<% @letters.each do |letter| %>
  <%= letter %>
<% end %>

<form action="/score" method="post" data-turbo="false">
  <input type="text" name="word" placeholder="which word are you thinking about?">
  <!-- on ecrit authenticity_token pour securise la reponse, la hidden_field_tag est necessaire pour dire ce que nous voulons securiser -->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <%= hidden_field_tag "letters", @letters %>
  <input type="submit">
</form>
